/* Color palette: https://www.color-hex.com/color-palette/82839 */

:root {
  --main-color:	#212121;
  --text-color: #f7e8fc;
  --nav-color: #5f1f9c;
  --border: #9f18cf;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--nav-color);
  border-bottom: 5px solid var(--border);
}

.navbar a {
  color: var(--text-color);
}
.navbar a:hover {
  background-color: var(--text-color);
  color: var(--nav-color);
}

.mainPage {
  background-color: blue;
}